// http://chir.ag/projects/name-that-color/

$theme-color-pampas: #efece7;
$theme-color-pickled-bluewood: #2a404a;
$theme-color-denim: #1385b3;
$theme-color-athenes-light: #fafbfc;
$theme-color-athenes: #e1e4e8;
$theme-color-shuttle-gray: #575f6c;
$theme-color-java: #1bbbca;

$color-text: $theme-color-pickled-bluewood;
$color-second-text: $theme-color-shuttle-gray;
$color-link: $theme-color-java;
$color-bg: $theme-color-pampas;
$color-border: $theme-color-athenes;
$color-second-bg: $theme-color-athenes-light;
$color-navbar: $theme-color-athenes-light;
$color-navbar-bg: $theme-color-pickled-bluewood;
$color-navbar-hover: $theme-color-athenes;
$color-navbar-link: $theme-color-denim;
$color-important: $theme-color-denim;

$color-button: $color-text;
$color-button-bg: $theme-color-athenes-light;
$color-button-border: $color-border;
$color-button-active: $theme-color-athenes-light;
$color-button-active-gb: $color-important;

$color-list-item: $color-text;
$color-list-item-bg: $theme-color-athenes;
$color-list-item-hover: $color-text;
$color-list-item-hover-bg: $theme-color-athenes-light;

$topbar-height: 48px;
