// http://chir.ag/projects/name-that-color/

$theme-color-alabaster: #FCFCFC;
$theme-color-shark: #24292e;
$theme-color-christine: #e36209;
$theme-color-athenes-light: #fafbfc;
$theme-color-athenes: #e1e4e8;
$theme-color-shuttle: #586069;
$theme-color-science: #0366d6;

$color-text: $theme-color-shark;
$color-second-text: $theme-color-shuttle;
$color-link: $theme-color-science;
$color-bg: $theme-color-alabaster;
$color-border: $theme-color-athenes;
$color-second-bg: $theme-color-athenes-light;
$color-sidebar: $theme-color-athenes-light;
$color-sidebar-bg: $theme-color-shark;
