// http://chir.ag/projects/name-that-color/

$theme-color-alabaster: #FCFCFC;
$theme-color-shark: #24292e;
$theme-color-christine: #e36209;
$theme-color-athenes-light: #fafbfc;
$theme-color-athenes: #e1e4e8;
$theme-color-shuttle: #586069;
$theme-color-science: #0366d6;

$color-text: $theme-color-shark;
$color-second-text: $theme-color-shuttle;
$color-link: $theme-color-science;
$color-bg: $theme-color-alabaster;
$color-border: $theme-color-athenes;
$color-second-bg: $theme-color-athenes-light;
$color-navbar: $theme-color-athenes-light;
$color-navbar-bg: $theme-color-shark;
$color-navbar-hover: $theme-color-athenes;
$color-important: $theme-color-christine;

$color-button: $color-text;
$color-button-bg: $theme-color-athenes-light;
$color-button-border: $color-border;
$color-button-active: $theme-color-athenes-light;
$color-button-active-gb: $color-important;

$color-list-item: $color-text;
$color-list-item-bg: $theme-color-athenes;
$color-list-item-hover: $color-text;
$color-list-item-hover-bg: $theme-color-athenes-light;

$topbar-height: 48px;
